@import url("https://fonts.googleapis.com/css?family=Cabin:400,500,700|Montserrat:400,500,700");

body {
  font-family: "Cabin", sans-serif;
  background-color: #fff;
}

#columnContainer {
  display: flex;

  justify-content: space-around;
}

#welcome {
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0%;
  height: 100%;
  width: 100%;
  background: #ffffff;
  position: fixed;
}

#firstsub {
  width: 60%;
  display: none;

  /* background: blue; */
}

.column_names {
  padding-left: 25px;
  margin: 5px;
}

.column_name {
  margin-right: 16px;
}
#divControls {
  width: 58%;
  text-align: center;
}

#rightDiv {
  width: 40%;
  /* background: blueviolet; */
  height: 50px;
  position: sticky;
  top: 4rem;
  display: none;
  padding-bottom: 25px;
}

.all_column_names {
  background-color: #ffffff;
  border: 0;
  border-radius: 0.5rem;
  box-sizing: border-box;
  color: #111827;
  font-family: "Inter var", ui-sans-serif, system-ui, -apple-system, system-ui,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none #d1d5db solid;
  text-decoration-thickness: auto;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.all_column_names:hover {
  background-color: rgb(249, 250, 251);
}

.all_column_names:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.all_column_names:focus-visible {
  box-shadow: none;
}

.inputclass {
  /* box-shadow: inset #abacaf 0 0 0 2px;
  border: 0;
  background: rgba(0, 0, 0, 0);
  appearance: none;
  position: relative;
  border-radius: 3px;
  padding: 9px 12px;
  line-height: 1.4;
  color: rgb(0, 0, 0);
  font-size: 16px;
  font-weight: 400;
  height: 20px; */
  padding: 0;
  height: 30px;
  position: relative;
  left: 0;
  outline: none;
  border: 1px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 16px;
}

#combine {
  position: fixed;
  bottom: 0px;
  right: 0px;
  /* justify-content: flex-end;
  display: flex; */
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue",
    Ubuntu, sans-serif;
  
  display: none;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  height: 44px;
  
}
